
body {
	background-color: #8fc4b7;
}

.nav-animate {
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.nav-animate:hover, .nav-animate.active, .nav-animate.router-link-active {
	background: #1976d2;
	color: #fff !important;
	box-shadow: 0 2px 8px rgba(25, 118, 210, 0.08);
}
